*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Smokum', cursive;
}

h3{
    color: bisque;
}
fieldset {
    border: none;
}

.flex-wrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: stretch;
}

.flex-wrapper > div {
    flex: 1 1 auto;
}


label {
    display: none;
}

legend {
    display: block;
    width: 50%;
}

input {
    width: 50%;
}
